@page
@model Lab2.Pages.DeleteModel
@{
    ViewData["Title"] = "Удаление элмента";
}

<div class="text-center">
	<h1 class="display-4">Удаление элмента</h1>
</div>

<form method = "post">
<div class="form-group">
	<button type="submit">Удалить</button>
</div>
</form>

<a asp-page = "/Index">Назад</a>
